@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Desabilita o "pull-to-refresh" no Android para parecer mais nativo */
  body {
      overscroll-behavior-y: contain;
      padding-top: env(safe-area-inset-top);
      padding-bottom: env(safe-area-inset-bottom);
      padding-left: env(safe-area-inset-left);
      padding-right: env(safe-area-inset-right);
  }
  input:-webkit-autofill {
      -webkit-text-fill-color: #1E263C !important;
      -webkit-box-shadow: 0 0 0 30px #f3f4f6 inset !important;
  }
  /* Estilo para evitar seleção de texto indesejada em botões nativos */
  button, a {
      -webkit-tap-highlight-color: transparent;
      user-select: none;
  }
}
